<LinkTo @route="index"><button type="button">Home</button></LinkTo><br><br>

<Input
  id="username"
  @type="text"
  @value={{@username}}
/>


<button type="button" {{on "click" this.search}}>Search</button>
